body {
    background-color: #d5e1ef;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Outfit", serif;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

.card {
    background-color: white;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
    width: 320px;
    text-align: center;
    padding: 14px;
    top: 25%;
}

.card img {
    border-radius: 20px;
    width: 320px;
    height: 320px;
}

.card h1 {
    /* Heading */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;

    /* Dark Navy */
    color: #1F314F;
    padding: 0 32px;
}

.card p {
    padding: 16px 32px;

    /* Body */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;

    /* Grey */
    color: #7D889E;
}

.attribution {
    padding-top: 20px;
    font-size: 11px;
    text-align: center;
}
  
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
